ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:deeppink;
}

li{
    float: left;
}

li a {
    display: block;
    color: bisque;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: cadetblue;
    color: linen;
}

h1{
    color:darkcyan;
    background-color: azure;
    padding: 20px;
    text-align: center;
    text-decoration: overline;

}


