ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:deeppink;
}

li a {
    display: block;
    color: bisque;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: cadetblue;
    color: linen;
}

h1{
    color:darkcyan;
    background-color: lavenderblush;
    padding: 20px;
    text-align: center;
    text-decoration: overline;

}


