/* Invoegen van een lettertype van het internet. Het lettertype krijgt de naam:'Montserrat'*/
@font-face {
  font-family: Montserrat;
  src: url(Montserrat-VariableFont_wght.ttf);
}

/* namen geven aan kleuren die later in het css-document gebruikt kunnen worden */
:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  
  /* standaard-instellingen web-pagina's*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Het lettertype 'Montserrat' instellen als het standaardlettertype voor alle pagina's en alle pagina's dezelfde achtergrondafbeelding geven. De herlderheid van de achtergrondafbeelding wordt hierbij aangepast zodat de tekst leesbaar blijft. */
  body {
    font-family: Montserrat;
    background-image: url(bg-image.webp);
    background-color: #22487a5b;
    background-blend-mode: lighten;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: center;
    background-attachment: fixed;
  } 

  /* De kleur en de groote van het lettertype van het eerste gedeeltje van het logo wordt vastgesteld.*/
  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  
  /* De kleur van het tweede gedeeltje van het logo wordt ingesteld. */
  .logo span {
    color:fuchsia;
  }
  
/* Maken van menu-bar */
  .menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 15px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  /* opmaak van het icoontje van een pijltje in de menubar. */
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* opmaak van het dropdown menu */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }

  /* opmaak tekst op de home-pagina*/
  .text-home {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  .text-home h1{
    font-size: 62px;
  }

  .text-home p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: floralwhite;
  }

  /* Maken van wit tekstvak op besturingssysteem-pagina. */
  .text-besturingssysteem {
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
  }

  /* Opmaak tekst op het besturingssysteem-pagina. */
  .text-besturingssysteem h1{
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-besturingssysteem h2{
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .text-besturingssysteem p{
    font-family: Montserrat;
    color: black;
    margin-top: 15px;
  }

/* opmaak van het plaatje op de besturingssysteem-pagina */
  .img-besturingssysteem-drivers{
    /*het geven van ronde randen aan plaatje*/
    border-radius: 10px;
   
    width: 50%;
    margin: 100px auto;
  }

  /* Maken van wit tekstvak op apps-en-api-pagina. */
  .text-apps-en-api {
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
  }

  /* opmaak van tekst op de apps-en-api-pagina.*/
  .text-apps-en-api h1{
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-apps-en-api p{
    font-family: Montserrat;
    color: black;
    margin-top: 15px;
  }

  /* opmaak van  het plaatje op de pagina va apps en API*/
  .img-web-API{
    /* het geven van ronde randen aan het plaatje*/
    border-radius: 10px;
   
    width: 400px;
    margin-top: 30px;
    margin-left: 100px;
  }

    /* Maken van wit tekstvak op moederbord-en-bus-pagina. */
  .text-moederbord-en-bus{
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
  }

  /*opmaak tekst van de moederbord-en-bus-pagina*/
  .text-moederbord-en-bus h1{
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-moederbord-en-bus h2{
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .text-moederbord-en-bus p{
    font-family: Montserrat;
    color: black;
    margin-top: 15px;
  }

  /* Maken van wit tekstvak op processor-en-kloksnelheid-pagina. */
  .text-processor-en-kloksnelheid{
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
  }

  /*opmaak tekst op processor-en-kloksnelheid-pagina*/
  .text-processor-en-kloksnelheid h1{
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-processor-en-kloksnelheid h2{
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .text-processor-en-kloksnelheid p{
    font-family: Montserrat;
    color: black;
    margin-top: 15px;
  }

  /* opmaak van de externe link op de pagina van de processor en de kloksnelheid*/
  .text-processor-en-kloksnelheid a{
    color: fuchsia;
  }

  .text-processor-en-kloksnelheid  a:hover{
    color: darkcyan;
  }

  /* Maken van wit tekstvak op drielagenmodel-pagina. */
  .text-drielagenmodel {
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
  }

    /* opmaak tekst op drielagenmodel-pagina. */
  .text-drielagenmodel h1{
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-drielagenmodel p{
    font-family: Montserrat;
    color: black;
    margin-top: 15px;
  }

  /* opmaak van het plaatje op de pagina van het drielagenmodel*/
  .img-drielagenmodel{
    /*geven van ronde randen aan plaatje*/
    border-radius: 10px;
    
    width: 350px;
    margin-top: 30px;
    margin-left: 200px;
  }

  /* Maken van wit tekstvak op geheugen-pagina. */
  .text-geheugen{
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
  }

  /*opmaak tekst op geheugen-pagina*/
  .text-geheugen h1{
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-geheugen h2{
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .text-geheugen p{
    font-family: Montserrat;
    color: black;
    margin-top: 15px;
  }

  /* opmaak van de externe linke op de pagina van het geheugen*/
  .text-geheugen a{
    color: fuchsia;
  }

  .text-geheugen a:hover{
    color: darkcyan;
  }

  /* Maken van wit tekstvak op randapparatuur-pagina. */
  .text-randapparatuur{
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
  }

  .text-randapparatuur h1{
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-randapparatuur p{
    font-family: Montserrat;
    color: black;
    margin-top: 15px;
  }

  /*opmaak plaatje op randappratuur-pagina*/
  .img-randapparatuur{
    /*het geven van ronde randen aan plaatje*/
    border-radius: 10px;
   
    width: 400px;
    margin-top: 30px;
    margin-left: 100px;
  }

  /* Maken van wit tekstvak op sensoren-en-actuatoren-pagina. */
  .text-sensoren-en-actuatoren{
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
  }

  /*opmaak tekst op sensoren-en-actuatoren-pagina*/
  .text-sensoren-en-actuatoren h1{
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-sensoren-en-actuatoren h2{
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .text-sensoren-en-actuatoren h3{
    color: black;
    font-family: Montserrat;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .text-sensoren-en-actuatoren p{
    font-family: Montserrat;
    color: black;
    margin-top: 15px;
  }

  /* Maken van wit tekstvak op communicatie-pagina. */
  .text-communicatie{
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
  }

  /*opmaak tekst op communicatie-pagina*/
  .text-communicatie h1{
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-communicatie h2{
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .text-communicatie p{
    font-family: Montserrat;
    color: black;
    margin-top: 15px;
  }

  /* opmaak van de interne link op de pagina van de communicatie*/
  .text-communicatie a{
    color: fuchsia;
  }

  .text-communicatie a:hover{
    color: darkcyan;
  }

  .footer {
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 0 5%;
    margin-top: 35px;
    text-align: center;
    background-color: var(--color-black);
    bottom: 0;
  }

  /*positioneren van de tekst op logischelaag-pagina*/
  .text-logischelaag {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  /*opmaak tekst op logischelaag-pagina*/
  .text-logischelaag h1{
    font-size: 62px;
  }

  .text-logischelaag p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: floralwhite;
  }

  /* opmaak van de knop 'lees meer' op de pagina's logische-, fysieke-, en toepassingenlaag*/
  .button{
   display: inline-block;
   text-decoration: none;
   color: floralwhite;
   border: 1px solid floralwhite;
   padding: 12px 34px;
   font-size: 13px;
   background: transparent;
   position: relative;
   cursor: pointer;
  }
  
  /*opmaak knop 'lees meer' wanneer de cursor op de knop staat*/
  .button:hover{
    border: 1px solid fuchsia;
    background: fuchsia;
    transition: 1s;
  }

  /* positioneren tekst op fysiekelaag - pagina*/
  .text-fysiekelaag {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  /* opmaak tekst op fysiekelaag - pagina*/
  .text-fysiekelaag h1{
    font-size: 62px;
  }

  .text-fysiekelaag p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: floralwhite;
  }

  /*positioneren tekst op toepassingenlaag-pagina*/
  .text-toepassingenlaag {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  /* opmaak tekst op toepassingenlaag-pagina*/
  .text-toepassingenlaag h1{
    font-size: 62px;
  }

  .text-toepassingenlaag p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: floralwhite;
  }